* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topbar {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 30px 50px 50px 0px;
}

.home {
  font-weight: 700;
  font-size: 1.7em;
  font-family: "Dancing Script";
  margin-right: auto;
  margin-left: 60px;
}

.topbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.topbar li {
  margin: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.topbar a {
  color: #fff;
  text-decoration: none;
  filter: grayscale(100%);
  transition: filter 0.3s linear, opacity 0.3s linear;
  opacity: 0.4;
}

.topbar a:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.topbar a::after {
  display: none;
}

.topbar a:active {
  color: #fff;
}

.container {
  text-align: left;
  max-width: 650px;
  padding: 0 10px 0 10px;
  margin: 20px 30px 20px 30px;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .container > * {
    flex-basis: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .topbar {
    font-size: 1.3em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
  }

  .topbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topbar li {
    margin: 10px 0px 0 40px;
    height: auto;
    display: flex;
    align-items: center;
  }
}

h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
  font-weight: bold;
}

p {
  color: #bdbdbd;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.3em;
}

a {
  color: #fff;
  text-decoration: none !important;
  position: relative;
}

a:focus {
  outline: none;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #bdbdbd;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

a:hover::after {
  opacity: 1;
}

.contacts {
  margin-top: 2.5em;
}

.contacts p {
  margin-bottom: 0.8em;
  font-size: 1.2em;
}

.contacts ul {
  list-style-type: none;
  display: flex;
}

.contacts li {
  font-size: 1.2em;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 1em;
}

.contacts a {
  color: #dddddd;
  transition: color 0.3s ease;
}

.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 1;
  z-index: 2;
  pointer-events: none;
  transition: opacity 1s ease;
}
